/*   color variables */
:root {
  --clr-primary: #0e48fe;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f9fbff;
  --clr-gray150: #f4f6fb;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
  --clr-gray600: #2a324b;
  --clr-gray700: #161d34;

  /*   border radius */
  --radius: 0.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* overwrite HTML Body default patterns */
body {
  /* margin: 0;
  padding: 0; */
  font-family: Arial, sans-serif;
  color: var(--clr-gray500);
  background-color: rgb(245, 245, 245);
}

/* =================================Header================================= */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0px;
  height: 50px;
  font-size: 10px;
  border-bottom: 1px solid rgb(236, 236, 236);
  z-index: 2;
}

.header-name {
  margin-left: 13px;
}

.header-cart,
.header-about {
  width: 30px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  border: none;
  background-color: white;
  text-decoration: none;
}

.header-about {
  width: 50px;
  height: 30px;
  margin: 0 5px;
  font-weight: bold;
  font-size: 0.8rem;
  color: #234db8;
}

.item-count-in-cart {
  color: #234db8;
  font-size: 15px;
}

/* =================================About================================= */

.about-modal,
.cart-modal {
  margin: 10px;
  margin-top: 100px;
  background-color: white;
  max-height: 60vh;
  overflow-y: auto;
  border: 4px solid #ccc;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  /* border: 4px solid rgb(35, 77, 184); */
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  padding: 15px;
  margin: auto 10px;
}

/* =================================cart================================= */

.cart-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
  color: rgb(35, 77, 184);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
}

.cart-body {
  width: 100%;
  height: 100%;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}

.selectedItems-wrapper {
  position: relative;
  padding: 1rem;
}

.selectedItem-quantity-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectedItem-quantity {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.selectedItem-quantity-button {
  width: 25px;
  height: 25px;
}

.selectedItem-quantity-inputbox {
  height: 25px;
  width: 40px;
}

.place-order-button {
  height: 45px;
  width: 100%;
  background-color: rgb(90, 157, 212);
  border-color: #e1e5ee;
}

/* =================================menu================================= */
.menu {
  position: sticky;
  top: 50px;
  z-index: 2;
}

.categories-wrapper {
  height: 45px;
  width: 100%;
  position: relative;
  top: 0px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 15px 0;
  padding-right: 30px;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 2;
  background-color: #fff;
  overflow-y: hidden;
  border-bottom: 1px solid rgb(236, 236, 236);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.categories-item {
  display: inline-block;
  border-radius: 16px;
  padding: 7px 11px;
  margin: 0 2px;
  background: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.categories-item.customActive {
  color: #fff !important;
  background-color: #234db8 !important;
}

/* =================================login================================= */

.login-register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}

.form-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  /* z-index: 2; */
}

.login-container {
  position: absolute;
  /* left: 4px; */
  width: 500px;
  display: flex;
  flex-direction: column;
  /* transition: 0.5s ease-in-out; */
}

.register-container {
  position: absolute;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.register span {
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.register span a {
  font-weight: 500;
  margin-left: 5px;
}

.register a {
  color: rgb(90, 157, 212);
}

.login span {
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.login span a {
  font-weight: 500;
  margin-left: 5px;
}

.login a {
  color: rgb(90, 157, 212);
}

header {
  color: #606060;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}

/* .two-forms {
  display: flex;
  gap: 10px;
} */

.input-field {
  font-size: 15px;
  background: rgb(167, 210, 246);
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}

.input-field:hover,
.input-field:focus {
  background: rgb(177, 216, 248);
}

::-webkit-input-placeholder {
  color: #606060;
}

.input-box i {
  position: relative;
  top: -35px;
  left: 17px;
  /* color: #fff; */
}
.submit {
  font-size: 15px;
  font-weight: 500;
  color: #606060;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submit:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}

.two-col .one {
  display: flex;
  gap: 5px;
}

.two label a {
  text-decoration: none;
  color: #fff;
}

.two label a:hover {
  text-decoration: underline;
}

/* =================================Category================================= */

.category-title {
  margin-top: 1rem;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1rem;
}

/* =================================Items================================= */

.items-wrapper {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.item-container {
  text-decoration: none;
  color: inherit;
  box-shadow: 0 0 10px 5px var(--clr-gray300);
  border-radius: var(--radius);
  display: flex;
  font-size: 0.6rem;
  cursor: pointer;
  width: 100%;
  height: 6rem;
}

.item__img {
  width: 45%;
  object-fit: cover;
}

.item__body {
  margin: 0.5rem;
  flex-grow: 1;
}

.item__name {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.item__description {
  line-height: 1.2rem;
}

.item__price {
  font-size: 1rem;
  margin-top: 0.5rem;

  &::before {
    content: "NT";
    font-size: 0.6rem;
    position: relative;
    top: -0.3rem;
    padding-right: 0.1rem;
    z-index: 1;
  }
}

/* .item__btn {
  border: none;
  border-top: 1px solid var(--clr-gray300);
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  color: inherit;
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
} */

.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ordering-modal {
  margin: 10px;
  margin-top: 100px;
  background-color: white;
  padding: 7px;
  /* border: 2px solid rgb(90, 157, 212); */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.758);
  z-index: 2;
}

.item-ordering-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.item-ordering-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}

.item-ordering-img {
  object-fit: cover;
}

.item-ordering-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 5px;
}

.item-ordering-price {
  &::before {
    content: "NT";
    font-size: 0.8rem;
    position: relative;
    top: -0.3rem;
    padding-right: 0.1rem;
    z-index: 1;
  }
}

.item-ordering-description {
  padding: 5px;
}

.item-quantity-container {
  padding: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-quantity {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.item-quantity-button {
  width: 35px;
  height: 35px;
}

.is-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.item-quantity-inputbox {
  height: 35px;
  width: 60px;
}

/* .item-option-flavour {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-box {
  display: flex;
  align-items: center;
  padding: 12px 20px 12px 10px;
  height: auto;
  margin-top: 5px;
  width: 100%;
  font-weight: 400;
  border-color: #234db8;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  margin-right: 0;
} */

.add-to-cart-button {
  height: 45px;
  width: 100%;
  background-color: rgb(90, 157, 212);
  border-color: #e1e5ee;
}

/* =============================Responsive============================= */
/* xs */
@media (min-width: 475px) {
  .header-container {
    height: 50px;
    font-size: 11px;
  }

  .header-cart,
  .header-about {
    width: 26px;
    height: 26px;
  }
}

/* sm */
@media (min-width: 640px) {
  .header-container {
    height: 52px;
    font-size: 12px;
  }

  .header-cart,
  .header-about {
    width: 27px;
    height: 27px;
  }

  .menu {
    top: 52px;
  }

  .items-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
  .item-container {
    flex-direction: column;
    text-align: center;
    min-width: 14rem;

    &__img {
      width: 100%;
      height: 12rem;
    }
  }
}

/* md */
/* @media (min-width: 768px) {
  .header-container {
    height: 54px;
    font-size: 13px;
  }

  .header-cart,
  .header-about {
    width: 28px;
    height: 28px;
  }
} */

/* lg */
/* @media (min-width: 1024px) {
  .header-container {
    height: 56px;
    font-size: 14px;
  }

  .header-cart,
  .header-about {
    width: 29px;
    height: 29px;
  }
} */

/* xl */
/* @media (min-width: 1280px) {
  .header-container {
    height: 58px;
    font-size: 15px;
  }

  .header-cart,
  .header-about {
    width: 30px;
    height: 30px;
  }
} */

/* 2xl */
/* @media (min-width: 1536px) {
  .header-container {
    height: 60px;
    font-size: 16px;
  }

  .header-cart,
  .header-about {
    width: 31px;
    height: 31px;
  }
} */

@media (max-width: 540px) {
  .login-wrapper {
    min-height: 100vh;
  }
  .form-box {
    width: 100%;
    height: 500px;
  }
  .register-container,
  .login-container {
    width: 100%;
    padding: 0 20px;
  }
  .register-container .two-forms {
    flex-direction: column;
    gap: 0;
  }
}
